Babel==2.3.4
debtcollector==1.11.0
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.1
funcsigs==1.0.2
greenlet==0.4.11
msgpack-python==0.4.8
netaddr==0.7.19
oslo.config==3.22.0
oslo.i18n==3.12.0
ovs==2.6.1
pbr==1.10.0
pyaml==16.12.2
pytz==2016.10
PyYAML==3.12
repoze.lru==0.6
rfc3986==0.4.1
Routes==2.4.1
ryu==4.10
six==1.10.0
stevedore==1.20.0
tinyrpc==0.5
WebOb==1.7.1
wrapt==1.10.8
